mixin title(sectionName)
  title C++ Concept Basic [#{sectionName}]
  section.section
    .container
      h2.title.is-large C++ Concept Basic - #{sectionName}
      h4.subtitle.is-large 中文互動式快速入門 C++。
