include ../includes/article.include.pug
doctype html

html
  head
    meta(charset='UTF-8')
  body
    +title('壓縮 PDF') //- 連同 title 標籤都會一起設定。
    +top // Back to Top!

    section.section
      .container
        +articleTitle('我要怎麼幫 PDF 減肥？')
        .columns
          .column
            h3.title.is-3.step-title 前提
            h5.subtitle.is-5.step-subtitle.content 可憐的教育部只給我們 2MB 的空間，而且還只能傳 PDF 呢！#[br]
              | 不過你知道你的 PDF 有 75% 以上都是#[b.highlight 垃圾資料]嗎？把垃圾資料刪掉就能縮小囉！#[br]
              | Let's try it!
          .column
            img.lazyload(data-src='/assets/doc/compress/epfErrorFileLimit.gif' alt='上傳限制')
        .columns
          .column
            h3.title.is-3.step-title Step 1
            h5.subtitle.is-5.step-subtitle.content 去 Google 搜尋 #[code #[a(href='https://lmgtfy.com/?q=ilovepdf') ilovepdf]]
          .column
            img.lazyload(data-src='/assets/doc/searchILovePDF.webp' alt='搜尋 ilovepdf')
        .columns
          .column
            h3.title.is-3.step-title Step 2
            h5.subtitle.is-5.step-subtitle.content 找到 ilovepdf 後點下去。#[br]
              | 你會看到一堆 PDF 工具，但我們今天是要找 #[b.highlight 壓縮PDF]。
              | 找到之後按下去！！
          .column
            img.lazyload(data-src='/assets/doc/compress/epfPDFCompressS3.gif' alt='按壓縮 PDF')
        .columns
          .column
            h3.title.is-3.step-title Step 3
            h5.subtitle.is-5.step-subtitle.content 選擇 PDF 後上傳。
          .column
            img.lazyload(data-src='/assets/doc/compress/epfPDFCompressS4.gif' alt='選擇 PDF')
        .columns
          .column
            h3.title.is-3.step-title Step 4
            h5.subtitle.is-5.step-subtitle.content 選擇 #[b.highlight 壓縮程度]。
              | 如果檔案很大可以選擇 #[b.highlight 極度壓縮]，
              | 但平時只需要 #[b.highlight 推薦的壓縮]，弄好之後，
              | 再點下面的 #[b.highlight 壓縮PDF]。
          .column
            img.lazyload(data-src='/assets/doc/compress/epfPDFCompressS5.gif' alt='壓縮 PDF')
        .columns
          .column
            h3.title.is-3.step-title Step 5
            h5.subtitle.is-5.step-subtitle.content 壓完之後，下載走人～～（灑花）
          .column
            img.lazyload(data-src='/assets/doc/compress/epfPDFCompressS6.webp' alt='下載壓縮後的 PDF')
    section.section
      .container
        +videoTitle
        .columns
          .column
            +embedyt(560, 315, 'sdMU0srziN0')
          .column
            +embedyt(560, 315, 'NwaKWYIiu1o')