include ../includes/article.include.pug
doctype html

html
  head
    meta(charset='UTF-8')
  body
    +title('合併多張圖片', '合併圖片') //- 連同 title 標籤都會一起設定。
    +top // Back to Top!

    section.section
      .container
        +articleTitle('我要怎麼合併我的圖片？')
        .columns
          .column
            h3.title.is-3.step-title 前提
            h5.subtitle.is-5.step-subtitle.content 可憐的教育部只給我們 2MB 的空間，而且還傳一個檔案呢！#[br]
              | 不過你知道能合併多張圖片成一個檔案嗎？Let's try it!
          .column
            img.lazyload(data-src='/assets/doc/compress/epfErrorFileLimit.gif' alt='上傳限制')
        .columns
          .column
            h3.title.is-3.step-title Step 1
            h5.subtitle.is-5.step-subtitle.content 去 Google 搜尋 #[code #[a.is-blank(href='https://lmgtfy.com/?q=ilovepdf') ilovepdf]]
          .column
            img.lazyload(data-src='/assets/doc/searchILovePDF.webp' alt='搜尋 ilovepdf')
        .columns
          .column
            h3.title.is-3.step-title Step 2
            h5.subtitle.is-5.step-subtitle.content 找到 ilovepdf 後點下去。#[br]
              | 你會看到一堆 PDF 工具，但我們今天是要找 #[b.highlight JPG 轉 PDF]。
              | 找到之後按下去！！
          .column
            img.lazyload(data-src='/assets/doc/concatenate_imgs/epfdoc_concatenate_imgs_S2.gif' alt='按 JPG 轉 PDF')
        .columns
          .column
            h3.title.is-3.step-title Step 3
            h5.subtitle.is-5.step-subtitle.content 選擇你想要合在一起的 #[b.highlight JPG 或 PNG 圖片檔]。
          .column
            img.lazyload(data-src='/assets/doc/concatenate_imgs/epfdoc_concatenate_imgs_S3.gif' alt='選擇 JPG 或 PNG')
        .columns
          .column
            h3.title.is-3.step-title Step 4
            h5.subtitle.is-5.step-subtitle.content 這裡就是一些版面的小配置，照你想要的樣子調整完後，就可以按 #[b.highlight 轉換為 PDF 文檔] 囉～
          .column
            img.lazyload(data-src='/assets/doc/concatenate_imgs/epfdoc_concatenate_imgs_S4.webp' alt='調整配置')
        .columns
          .column
            h3.title.is-3.step-title Step 5
            h5.subtitle.is-5.step-subtitle.content 合併完之後，就能把完成的 PDF 下載回來囉！
          .column
            img.lazyload(data-src='/assets/doc/concatenate_imgs/epfdoc_concatenate_imgs_S5.webp' alt='下載合併後的 PDF')
    section.section
      .container
        +videoTitle
        .columns
          .column
            +embedyt(560, 315, 'LTRW49YlESA')
          .column