include ../includes/article.include.pug
doctype html

html
  head
    meta(charset='UTF-8')
    //- 頁面資訊
    span#meta&attributes({
      'data-page-id': 'doc-compress-pdf'
    })
  body
    +title('文件掃描') //- 連同 title 標籤都會一起設定。
    +top // Back to Top!

    section.section
      .container
        +articleTitle('學習單用拍照的好醜欸，要去哪裡掃描啊？')
        .columns
          .column
            h3.title.is-3.step-title 前提
            h5.subtitle.is-5.step-subtitle 齁唷， #[b.lighter 學習單]想上傳上去，但 #[b.lighter 拍照都會有陰影]，而且 #[b.lighter 肥肥的圖片檔] 
              | 還可能傳不上去QQ#[br]
              | 幸好學校有提供 #[b.lighter 學生用事務機]，可以讓可憐的我們拿去掃描，一起來看看怎麼用吧（幫QQ #[br]
              .notification.is-warning.alert-orange
                .container
                  | 需自備 1張 #[b 至少8元的悠遊卡]
                
        .columns
          .column
            h3.title.is-3.step-title Step 1
            h5.subtitle.is-5.step-subtitle 到本校 #[b.lighter 3F創藝數位園地]
          .column
            img(src='/assets/doc/scanner/smhs_3F.jpg' alt='到3F創藝數位園地')
        .columns
          .column
            h3.title.is-3.step-title Step 2
            h5.subtitle.is-5.step-subtitle 從北棟門進去後，靠 #[b.lighter 右手邊] 會有一台學生用事務機
          .column
            img(src='/assets/doc/scanner/Scanner_001.jpg' alt='在右手邊有學生用事物機')
        .columns
          .column
            h3.title.is-3.step-title Step 3
            h5.subtitle.is-5.step-subtitle 將你那可愛的悠遊卡插進 #[b.lighter 在事務機旁的讀卡機]#[br]
              | 請注意，#[b 是悠遊卡，是悠遊卡，是悠遊卡，不是學生證，更不是一卡通！！！](#ﾒ`皿´)ﾒ
          .column
            img(src='/assets/doc/scanner/Scanner_002.jpg' alt='插入8有元的悠遊卡')
        .columns
          .column
            h3.title.is-3.step-title Step 4
            h5.subtitle.is-5.step-subtitle 插入悠遊卡並讀取成功後，即可開始操作（往下看往下看～）
        .columns
          .column
            h3.title.is-3.step-title Step 5
            h5.subtitle.is-5.step-subtitle 點 事務機面板 的 #[b.lighter 影像傳送]
          .column
            img(src='/assets/doc/scanner/Scanner_003.jpg' alt='按面板上的影像傳送')
        .columns
          .column
            h3.title.is-3.step-title Step 6
            h5.subtitle.is-5.step-subtitle 然後再點 #[b.lighter USB 記憶掃描]
          .column
            img(src='/assets/doc/scanner/Scanner_004.jpg' alt='按選單的 USD記憶掃描')
        .columns
          .column
            h3.title.is-3.step-title Step 7
            h5.subtitle.is-5.step-subtitle 這時在印表機控制台的 #[b.lighter 右下角] 插入你的 #[b.lighter 隨身碟 USB]
          .column
            img(src='/assets/doc/scanner/Scanner_005.jpg' alt='找到右下角')
          .column
            img(src='/assets/doc/scanner/Scanner_006.jpg' alt='插入隨身碟')
        .columns
          .column
            h3.title.is-3.step-title Step 8
            h5.subtitle.is-5.step-subtitle 插入隨身碟後，回到面板，可以 #[b.lighter 調整掃描影像的解析度]
          .column
            img(src='/assets/doc/scanner/Scanner_007.jpg' alt='點「解析度」')
          .column
            img(src='/assets/doc/scanner/Scanner_008.jpg' alt='調教它')
        .columns
          .column
            h3.title.is-3.step-title #[a#step9] Step 9
            h5.subtitle.is-5.step-subtitle 設定完後，拉起 #[b.lighter 遮光蓋] (就是圖中箭頭指的那個)#[br]
              | 然後把你的 #[u 原稿] 蓋在玻璃面上（正面朝下）
          .column
            img(src='/assets/doc/scanner/Scanner_009.jpg' alt='拉起遮光蓋')
          .column
            img(src='/assets/doc/scanner/Scanner_010.jpg' alt='把原稿塞進去')
        .columns
          .column
            h3.title.is-3.step-title Step 10
            h5.subtitle.is-5.step-subtitle 然後把 #[b.lighter 遮光蓋] 蓋起來，準備好開始掃描啦！！
          .column
            img(src='/assets/doc/scanner/Scanner_011.jpg' alt='蓋上遮光蓋，開始掃描啦')
        .columns
          .column
            h3.title.is-3.step-title #[a#step11]Step 11
            h5.subtitle.is-5.step-subtitle 這時在印表機控制台的 #[b.lighter 右下角] 按下這顆按鈕：#[br]
              img(src='/assets/doc/scanner/Scanner_012-0.png' alt='開始執行鍵' style='margin: 6px')
          .column
            img(src='/assets/doc/scanner/Scanner_012.jpg' alt='按 開始鍵')
        .columns
          .column
            h3.title.is-3.step-title Step 12
            h5.subtitle.is-5.step-subtitle 正面掃描好就可以掃描下一頁 #[br]
              | 把 #[b.lighter 遮光蓋] 掀起來，再換面繼續 #[a(href='#step9') Step9] ～ #[a(href='#step11') Step11]
            +embedyt(480, 360, 'YqQREVgbSTs')
          .column
            img(src='/assets/doc/scanner/Scanner_014.jpg' alt='翻面啦')
            //- img(src='/assets/doc/scanner/Scanner_015.jpg' alt='在跑了啦，不要急')
        .columns
          .column
            h3.title.is-3.step-title #[a#step13]Step 13
            h5.subtitle.is-5.step-subtitle 最後掃描完成他會問是否結束本次工作，就按 #[b.lighter 讀取結束]
          .column
            img(src='/assets/doc/scanner/Scanner_017.jpg' alt='按 讀取結束')
        .columns
          .column
            h3.title.is-3.step-title #[a#step11]Step 14
            h5.subtitle.is-5.step-subtitle 然後就會開始存檔，別急～
          .column
            img(src='/assets/doc/scanner/Scanner_018.jpg' alt='儲存中')
          .column
            img(src='/assets/doc/scanner/Scanner_019.jpg' alt='存檔完畢')
        .columns
          .column
            h3.title.is-3.step-title #[a#step11]Step 15
            h5.subtitle.is-5.step-subtitle 最後記得將 #[b.lighter 文件原稿]、#[b.lighter 隨身碟 USB] 取下拔走～～
          .column
            img(src='/assets/doc/scanner/Scanner_020.jpg' alt='東西都給我拿走＠＠')
    section.section
      .container
        +videoTitle
        p 可惜還沒有人拍成影片。