mixin courseTitleBanner(title)
  .notification.banner-cover#title
    .banner-bg-cover
      .banner-container.has-text-centered
        .banner-title
          h3.title.is-3 #{title}

mixin courseCourseBanner(title)
  .notification.banner-cover#course
    .banner-bg-cover
      .banner-container.has-text-centered
        .banner-title
          h3.title.is-3 #{title}
        .banner-buttons
          .buttons.column.is-centered
            button.button.custom-info 圖文教學
            button.button.is-danger 影片示範