//- epf 下的課程列表

mixin courseListMenu(category)
  h3.title.is-3.section-title 課程列表
  aside.menu.courseList
    p.menu-label= category
    ul.menu-list
      li #[a(href='javascript:void(0)') 壓縮圖片]
      li #[a.is-active(href='javascript:void(0)') 合併多張圖片]
