include includes/header.pug
doctype html

html
  head
    meta(charset='UTF-8')
    //- 頁面資訊
    span#meta&attributes({
      'data-page-id': 'about'
    })
  body
    +title('關於') //- 連同 title 標籤都會一起設定。
    +top // Back to Top!
    .section
      // youualan87
      .container
        .columns
          .column.about-left.is-4
            img.avatar(src='https://secure.gravatar.com/avatar/e664736fc90eb96498c3e00ada7dcc28?s=256&d=mm&r=g' alt='pan93412 的 icon')
          .column.content
            h4.title.is-4 黃猷珵
            h6.subtitle.is-6 #文案負責人 #計畫創始人
            p 嗨我計畫創始人的啦，就這樣。#[br]
              | 偷偷跟你說，我喜歡攝影，#[a(href='https://reurl.cc/EKVXqv' target='_blank') 還不快點這裡看校慶的照片]？
            ul
              li #[a(href='https://iwebs.tw' target='_blank') 個人網站]
      // pan93412
      .container
        .columns
          .column.about-left.is-4
            img.avatar(src='https://avatars3.githubusercontent.com/u/28441561?s=256&v=4' alt='pan93412 的 icon')
          .column.content
            h4.title.is-4 Pan93412
            h6.subtitle.is-6 #網頁主設計者 #計畫副協作者
            p 死肥宅，沒什麼好說。
            ul
              li #[a(href='https://github.com/pan93412' target='_blank') GitHub]
              li #[a(href='https://www.facebook.com/pan93412TW' target='_blank') Facebook]
              li #[a(href='https://telegram.me/byStarTW_TW' target='_blank') Telegram]
  