include includes/default.include.pug
doctype html

html
  head
    meta(charset='UTF-8')
  body
    +title('關於') //- 連同 title 標籤都會一起設定。
    +top // Back to Top!
    .section
      // youualan87
      .container
        .columns
          .column.about-left.is-4
            img.avatar.lazyload(data-src='https://img.imych.one/me/images/YC.jpg?v=1.3.2' width='256' alt='猷珵 的 icon')
          .column.content
            h4.title.is-4 黃猷珵
            h6.subtitle.is-6 #文案負責人 #計畫創始人
            p 嗨我計畫創始人的啦，就這樣。#[br]
              | 偷偷跟你說，我也喜歡攝影啦，#[a.is-blank(href='https://reurl.cc/EKVXqv') 還不快點這裡看校慶的照片]？
            ul
              li #[a.is-blank(href='https://imych.one') About Me]
              //- li #[a.is-blank(href='https://blog.imych.one') My Blog]
              li #[a.is-blank(href='https://me.imych.one/github') GitHub]
      // pan93412
      .container
        .columns
          .column.about-left.is-4
            img.avatar.lazyload(data-src='/assets/author/pan93412.jpg' width='256' alt='pan93412 的 icon')
          .column.content
            h4.title.is-4 Pan93412
            h6.subtitle.is-6 #網頁主設計者 #計畫副協作者
            p 死肥宅，沒什麼好說。
            ul
              li #[a.is-blank(href='https://github.com/pan93412') GitHub]
              li #[a.is-blank(href='https://www.facebook.com/pan93412TW') Facebook]
              li #[a.is-blank(href='https://telegram.me/byStarTW_TW') Telegram]
