include includes/default.include.pug
doctype html

html
  head
    meta(charset='UTF-8')
  body.has-navbar-fixed-top
    +title('網站歷史') //- 連同 title 標籤都會一起設定。
    +top // Back to Top!
    .section
      .container
        h3.title.is-center 網站歷史
        h4.subtitle.is-center 我土生土長的拉！
        article.message
          .message-header Hello World!
          .message-body
            | Hello World!