include includes/default.include.pug
include includes/countdown.pug
//- 公告
include announcements.pug

doctype html

html
  head
    meta(charset='UTF-8')
  body.has-navbar-fixed-top
    +title('歡迎！', '歡迎')
    //- 連同 title 標籤都會一起設定。
    +top
    // Back to Top!

    .container.hide#user-experience-box
      .notification.alert-orange.has-text-centered.event-box
        button.delete(data-close='#user-experience-box')
        .content
          | 嗨！#[a(href='https://epf.imych.one/') 學習歷程解疑網] 成立半年囉，
          | 誠摯地邀請您一同進行 #[b.highlight #[a.is-blank(href='https://forms.gle/1uVEaLwsVximj9Z86') 用戶體驗回饋調查]]，
          | 希望能提供您更好的瀏覽體驗。
        .container
          | #[a.button.is-warning.is-light.is-blank(href='https://forms.gle/1uVEaLwsVximj9Z86') 前往調查問卷]

    .section
      .container
        .columns
          .column.is-3
            +countdown('學習歷程截止上傳', '2020-06-30T23:59:59+08:00')
          .column.is-9
            .container
              h3.title.is-center 公告區
              h4.subtitle.is-center 學校有什麼訊息都會放在這喔！

              +announceGenerator