include includes/header.pug
doctype html

html
  head
    meta(charset='UTF-8')
    //- 頁面資訊
    span#meta&attributes({
      'data-page-id': 'home'
    })
  body
    +title('歡迎！') //- 連同 title 標籤都會一起設定。
    +top // Back to Top!

    .section
      +countdown('學習歷程上傳截止日', '2020-01-17T00:00:00+08:00')

    .section
      .columns
        .column
          .card
            .card-content
              h4.title.is-4 問問我要怎麼進去這裡 QAQ
              p 從 #[a(href='http://smhs.kh.edu.tw' target='_blank') 學校首頁] 右側的學習歷程網，
                | 在上方（手機版是側邊）選單的下拉選單中，點選就可以進來了～
              p 靠北一下，學校首頁排版#[b.lighter 超爛]：）
            .card-footer
              a.card-footer-item(href='/assets/indexEntry.jpg' target='_blank') 圖片教學
        .column
          .card
            .card-content
              h4.title.is-4 欸欸原版勒
              p 設計太爛被判處死刑，這新版面是 pan93412 
                | 跟 #[b.lighter 黃猷珵] 一起製作的。