@import 'variables.scss';

// bulma: navbar
$navbar-background-color: $main-color;
$navbar-item-hover-background-color: $main-dark-color;
$navbar-dropdown-background-color: $main-color;
$navbar-dropdown-item-hover-background-color: $main-dark-color;

// bulma: card
$card-background-color: $main-light-color;

@import '~bulma/bulma'