@import 'variables.scss';

/* General: Section Title */
.title.section-title {
  /* 這樣會變成「|  title」 */
  border-left: 15px solid $section-color;
  padding-left: 15px;
  transform: rotate(-2deg);
  z-index: -1;
  /* 防止覆蓋到主元素 */
}

/* General: Section Subtitle */
.subtitle.section-subtitle {
  /* 這樣會變成「   title」 */
  padding-left: 30px;
  transform: rotate(-2deg);
  z-index: -1;
  /* 防止覆蓋到主元素 */
}

/* General: Step Title */
.title.step-title {
  /* 這樣會變成「|  title」 */
  border-left: 10px solid $step-color;
  padding-left: 20px;
  padding-bottom: 2px;
}

/* General: Step Subtitle */
.subtitle.step-subtitle {
  /* 這樣會變成「  title」 */
  padding-left: 30px;
  line-height: 1.5;
}

/* General: Background Color */
html {
  background-color: $background-color;
}

/* General: 置中文字 */
.is-center {
  text-align: center;
}

/* General: Highlight Text */
.highlight {
  border-bottom: 3px solid $highliht-underline-color;
  background-color: $highlight-bg-color;
  padding: 0 3px;
  font-weight: bold;
}

/*
  header.pug: Header Bar
  Reference from https://2020election.pts.org.tw/open
*/
.navbar {
  border-radius: 0 0 20px 20px;
  box-shadow: $navbar-box-shadow;
}

@media screen and (max-width: 1023px) {
  .navbar-page-title {
    display: none;
  }
}

.navbar-burger:not(.is-active) {
  border-radius: 0 0 20px 0;
}

/* header.pug: Logo */
.logo {
  padding-right: 3px;
}

/* top.pug: TOP 按鈕 */
.back-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}

/* embedyt.pug: 讓 iframe 子容器寬度
   等於父容器的。 */
.column>iframe {
  width: 100%;
}

/* countdown.pug: 倒數計時器 */
.countdown {
  max-width: 20rem;
  font-size: 40px;
  font-family: 'Montserrat', monospace;
  margin: 0 auto;
  color: $countdown-text-color;
}

.countdown sub {
  font-size: 40%;
}

/* epf/request.pug: 「通過」文字的顏色 */
.request-approved {
  color: green;
}

/* epf/request.pug: 「不通過」文字的顏色 */
.request-disapproved {
  color: red;
}

/* doc/scan.pug: 橘色警示 */
.alert-orange {
  margin-top: 7px;
}

/* epf/about.pug: 關於的左側列 */
.about-left {
  text-align: right;
}

/* epf/about.pug: 關於頁面的大頭貼 */
.avatar {
  border-radius: 256px;
}

/* announcements.pug: 置頂標籤 */
.pin-tag {
  margin-right: 0.6rem;
}

/* course.list.pug 課程列表樣式 */
// .courseList, .courseList a {
//   color:#fff;
// }

/* course.banner.pug: 自訂button顏色 */
.custom-info {
  color:#fff;
  background-color:#17a2b8;
  border-color:#17a2b8;
}
.custom-info:hover {
  color:#fff;
  background-color:#138496;
  border-color:#117a8b;
}
.custom-info.focus,.custom-info:focus {
  color:#fff;
  box-shadow:0 0 0 .2rem rgba(58,176,195,.5);
}
.custom-info.disabled,.custom-info:disabled {
  color:#fff;
  background-color:#17a2b8;
  border-color:#17a2b8;
}
.banner-cover {
  padding:0;
  width:100%;
  min-height:200px;
  max-height:280px;
  background:url(https://epf.imych.one/pages/assets/Cover/cover-5.jpg) center no-repeat scroll;
  background-size: cover;
  border-radius:5px 5px 0 0;
}
.banner-bg-cover {
  background:rgba(201,201,201,0.3);
  height:100%;
  min-height:200px;
  max-height:280px;
  padding:100px 0 100px 0;
}
.banner-title .is-3 {
  text-shadow:0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF;
}
.banner-container {
  width:100%;
}
.banner-buttons, .banner-buttons .buttons {
  width:100%;
}
// @media (max-width: 768px) {
//   .banner-cover {
//     min-height:200px;
//     max-height:280px;
//     background:url(https://epf.imych.one/pages/assets/Cover/cover-2.jpg) center no-repeat scroll;
//     background-size: cover;
//     border-radius:5px 5px 0 0;
//   }
//   .banner-bg-cover {
//     background:rgba(201,201,201,0.3);
//     height:100%;
//     min-height:200px;
//     max-height:280px;
//     padding:100px 0 100px 0;
//   }
//   .banner-buttons {
//     width:100%;
//     align-content: center;
//   }
//   .banner-buttons .button {
//     width:70%;
//     display:block;
//   }
// }  