// General: Color Settings
$background-color: #ffffff;
$main-color: rgb(255, 224, 178);
$main-light-color: rgb(255, 255, 228);
$main-dark-color: rgb(203, 174, 130);

// Highlight: Color Settings
$highlight-bg-color: $main-color;
$highliht-underline-color: $main-dark-color;

// Step & Section: Color Settings
$section-color: $main-color;
$step-color: $section-color;

// Navbar: Shadow Settings
$navbar-box-shadow: 0 2px 5px 0 $main-light-color;
$navbar-main-color: rgba(255, 224, 178, 0.65);
$navbar-hover-color: rgba(255, 255, 228, 0.7);

// Countdown: Settings
$countdown-background-color: $main-color;
$countdown-text-color: $main-dark-color;