include ../includes/header.pug
doctype html

html
  head
    meta(charset='UTF-8')
    //- 頁面資訊
    span#meta&attributes({
      'data-page-id': 'doc-convert'
    })
  body
    +title('Word/PPT 轉檔') //- 連同 title 標籤都會一起設定。
    +top // Back to Top!

    section.section
      .container
        h2.title.is-2.section-title 我要怎麼把我的 Word 轉成好棒棒的 PDF？
        .columns
          .column
            h3.title.is-3.step-title 前提
            h5.subtitle.is-5.step-subtitle.content 可憐的學校只給我們 2MB 的空間，而且還只能傳 PDF 呢！#[br]
              | 其實有三個方法：
              ul
                li Word 按「另存新檔」或「匯出」成 PDF，有上過資訊課應該都知道。
                li #[del 叫您班的工具人幫忙轉檔]
          .column
            img(src='/assets/doc/convert/epfErrorFileNotPDF.gif' alt='上傳限制')
        .columns
          .column
            h3.title.is-3.step-title Step 1
            h5.subtitle.is-5.step-subtitle 去 Google 搜尋 #[code #[a(href='https://lmgtfy.com/?q=ilovepdf') ilovepdf]]
          .column
            img(src='/assets/doc/searchILovePDF.png' alt='搜尋 ilovepdf')
        .columns
          .column
            h3.title.is-3.step-title Step 2
            h5.subtitle.is-5.step-subtitle 找到 ilovepdf 後點下去。#[br]
              | 你會看到一堆 PDF 工具，但我們今天是要找 #[b.lighter Word 轉換至 PDF] 和 
              | #[b.lighter PowerPoint 轉換至 PDF]。
              | 找到之後按下去！！
          .column
            img(src='/assets/doc/convert/epfPDFConvetS3.png' alt='按 Word / PowerPoint 轉換至 PDF')
        .columns
          .column
            h3.title.is-3.step-title Step 3
            h5.subtitle.is-5.step-subtitle 選擇要轉換的 Word / PPT 後上傳。
          .column
            img(src='/assets/doc/convert/epfPDFConvetS4.png' alt='拖曳上傳 Word/PPT')
        .columns
          .column
            h3.title.is-3.step-title Step 4
            h5.subtitle.is-5.step-subtitle 按下去 #[b.lighter 轉換為PDF文檔]
          .column
            img(src='/assets/doc/convert/epfPDFConvetS5.png' alt='轉換為 PDF 文檔')
        .columns
          .column
            h3.title.is-3.step-title Step 5
            h5.subtitle.is-5.step-subtitle 轉完之後，下載走人～～（灑花）
          .column
            img(src='/assets/doc/convert/PDFCompressS6.png' alt='下載壓縮後的 PDF')