include ../includes/header.pug
doctype html

html
  head
    meta(charset='UTF-8')
    //- 頁面資訊
    span#meta&attributes({
      'data-page-id': 'doc-compress-pdf'
    })
  body
    +title('文件掃描') //- 連同 title 標籤都會一起設定。
    +top // Back to Top!

    section.section
      .container
        h2.title.is-2.section-title 學習單用拍照的好醜欸，要去哪裡掃描啊？
        .columns
          .column
            h3.title.is-3.step-title 前提
            h5.subtitle.is-5.step-subtitle 齁唷， #[b.lighter 學習單]想上傳上去，但 #[b.lighter 拍照都會有陰影]，而且 #[b.lighter 肥肥的圖片檔]
              | 還可能傳不上去QQ#[br]
              | 幸好學校有提供 #[b.lighter 學生用事物機]，可以讓可憐的我們拿去掃描，一起來看看怎麼用吧（幫QQ
        .columns
          .column
            h3.title.is-3.step-title Step 1
            h5.subtitle.is-5.step-subtitle 到本校 #[b.lighter 3F創藝數位園地]
          .column
            img(src='https://epf.iwebs.tw/assets/smhs_3F.jpg' alt='到3F創藝數位園地')
        .columns
          .column
            h3.title.is-3.step-title Step 2
            h5.subtitle.is-5.step-subtitle 找到 ilovepdf 後點下去。#[br]
              | 你會看到一堆 PDF 工具，但我們今天是要找 #[b.lighter 壓縮PDF]。
              | 找到之後按下去！！
          .column
            img(src='https://epf.iwebs.tw/assets/epfPDFCompressS3.gif' alt='按壓縮 PDF')
        .columns
          .column
            h3.title.is-3.step-title Step 3
            h5.subtitle.is-5.step-subtitle 選擇 PDF 後上傳。
          .column
            img(src='https://epf.iwebs.tw/assets/epfPDFCompressS4.gif' alt='選擇 PDF')
        .columns
          .column
            h3.title.is-3.step-title Step 4
            h5.subtitle.is-5.step-subtitle 選擇 #[b.lighter 壓縮程度]。
              | 如果檔案很大可以選擇 #[b.lighter 極度壓縮]，
              | 但平時只需要 #[b.lighter 推薦的壓縮]，弄好之後，
              | 再點下面的 #[b.lighter 壓縮PDF]。
          .column
            img(src='https://epf.iwebs.tw/assets/epfPDFCompressS5.gif' alt='壓縮 PDF')
        .columns
          .column
            h3.title.is-3.step-title Step 5
            h5.subtitle.is-5.step-subtitle 壓完之後，下載走人～～（灑花）
          .column
            img(src='https://epf.iwebs.tw/assets/epfPDFCompressS6.png' alt='下載壓縮後的 PDF')