include ../includes/article.include.pug
doctype html

html
  head
    meta(charset='UTF-8')
  body
    +title('多元表現說明', '多元表現') //- 連同 title 標籤都會一起設定。
    +top // Back to Top!

    section.section
      .container
        +articleTitle('多元表現項目好多，我要怎麼分清楚他們啊？')
        .columns
          .column
            h3.title.is-3.step-title 多元表現上傳期限？
            h5.subtitle.is-5.step-subtitle.content 多元表現為 #[b.highlight 一整學年上傳] 的唷，
              | 不會因為上學期的部分沒傳到，下學期就不能傳！
        .columns
          .column
            h3.title.is-3.step-title 幹部經歷暨事蹟紀錄
            h5.subtitle.is-5.step-subtitle.content 你可以 #[b.highlight 自己新增] 你自己好棒棒的豐功偉業！ #[br]
              | 學校幹部則會由校務行政系統同步匯入，不用大爺您操刀新增。 #[br]
          .column
            img.lazyload(data-src='/assets/epf/epfexplain_1.webp' alt='幹部經歷暨事蹟紀錄')
        .columns
          .column
            h3.title.is-3.step-title 競賽參與紀錄
            h5.subtitle.is-5.step-subtitle.content 可以把 #[b.highlight 每次競賽的證書]，儘管 #[b.highlight 未得名的出席證明] 也可以
              | 上傳上來，這就是歷程！#[br]
              | 快把你超優秀的競賽紀錄都上傳到這裡，讓教授看好看滿ㄅ～
          .column
            img.lazyload(data-src='/assets/epf/epfexplain_2.webp' alt='競賽參與紀錄')
        .columns
          .column
            h3.title.is-3.step-title 檢定證照紀錄
            h5.subtitle.is-5.step-subtitle.content 去外面考的 #[b.highlight 檢定證照] 可以上傳上來。#[br]
              | 像是：APCS、GEPT、TOEIC 等等所有有在清單上的證照都收集起來，#[del 集滿100張免費換教授回家唷～]
            img.lazyload(data-src='/assets/epf/epfexplain_3-0.webp' alt='所有證照')
          .column
            img.lazyload(data-src='/assets/epf/epfexplain_3.webp' alt='檢定證照紀錄')
        .columns
          .column
            h3.title.is-3.step-title 志工服務紀錄
            h5.subtitle.is-5.step-subtitle.content 你可以 #[b.highlight 自己新增] 你辛苦
              | 付出好多心血的 #[b.highlight 志工照片]、 #[b.highlight 志工時數證明] 並
              | #[a(href='/doc/concatenate_imgs') 合併成一個 PDF] 證明文件 #[br]
          .column
            img.lazyload(data-src='/assets/epf/epfexplain_4.webp' alt='志工服務紀錄')
        //- .columns
        //-   .column
        //-     h3.title.is-3.step-title 彈性學習時間紀錄
        //-     h5.subtitle.is-5.step-subtitle.content 彈性學習主要分成這 5 項：
        //-       ul
        //-         li 自主學習：預計高一下學期會開課教授
        //-         li 選手培育：例如本校 FRC 隊時常會挪出時間 #[b.highlight 練習比賽項目]
        //-         li 充實增廣課程：就是週五早上第 1、2 節沒學分的 #[b.highlight 微學習課程]（俗稱彈性學習）
        //-           | ，若成績不符合標準，則會被強制編入 #[b 補強性課程]
        //-         li 補強性課程：當你學期成績 #[b.highlight 不符合標準]，你就有機會來到這補救聖地：）
        //-         li 學校特色活動：例如本校 FRC 隊不定期舉辦的 #[b.highlight 校內微講座]
        //-   .column
        //-     img.lazyload(data-src='/assets/epf/epfexplain_5.webp' alt='彈性學習時間紀錄')
        .columns
          .column
            h3.title.is-3.step-title 團體活動時間紀錄
            h5.subtitle.is-5.step-subtitle.content  學校時常會利用 #[b.highlight 班會時間] 來舉辦
              | #[b.highlight 年級性活動或多元講座]，除此之外，如果您班上有安排活動，
              | 例如 #[b.highlight 電影欣賞、開班會] 等團體活動，都可以將其過程紀錄下來，
              | 並#[a(href='/doc/concatenate_imgs') 把圖片合併成一個 PDF 檔]後再傳上來～#[br]

          .column
            img.lazyload(data-src='/assets/epf/epfexplain_6.webp' alt='團體活動時間紀錄')
        .columns
          .column
            h3.title.is-3.step-title 職場學習紀錄
            //- TODO
            h5.subtitle.is-5.step-subtitle 待編輯
          .column
            img.lazyload(data-src='/assets/epf/epfexplain_7.webp' alt='職場學習紀錄')
        .columns
          .column
            h3.title.is-3.step-title 作品成果紀錄
            h5.subtitle.is-5.step-subtitle.content 當你做了超級驚天動地撼動人心的作品（實體虛擬都行），
              | 你就可以把它 #[b.highlight 拍照] 下來或 #[b.highlight 擷圖] 起來，傳上去作品紀錄。
              p 舉例來說：
                li 擷圖：軟體、網站、繪圖
                li 拍照：手做實品
          .column
            img.lazyload(data-src='/assets/epf/epfexplain_8.webp' alt='作品成果紀錄')
        .columns
          .column
            h3.title.is-3.step-title 其他多元表現紀錄
            h5.subtitle.is-5.step-subtitle.content 如果上面的 8 大項分類你都分不出來，就丟這吧！
          .column
            img.lazyload(data-src='/assets/epf/epfexplain_9.webp' alt='其他多元表現紀錄')
    section.section
      .container
        +videoTitle
        p 可惜還沒有人拍成影片。