include ../includes/article.include.pug
doctype html

html
  head
    meta(charset='UTF-8')
    //- 頁面資訊
    span#meta&attributes({
      'data-page-id': 'epf-upload'
    })
  body
    +title('上傳') //- 連同 title 標籤都會一起設定。
    +top // Back to Top!

    section.section
      .container
        +articleTitle('我有一堆 hen 棒的作品，我該怎麼上傳？')
        .columns
          .column
            h3.title.is-3.step-title Step 1
            h5.subtitle.is-5.step-subtitle 先去登入。#[a(href='login.html') 怎麼登入？]
          .column
            img(src='/assets/epf/epfhighschoolLogin.gif' alt='登入系統')
        .columns
          .column
            h3.title.is-3.step-title Step 2
            h5.subtitle.is-5.step-subtitle 下拉網頁，按「#[b.lighter 上傳學習成果]」。
          .column
            img(src='/assets/epf/epfCourseUpload_modal_S2.gif' alt='進入上傳頁面')
        .columns
          .column
            h3.title.is-3.step-title Step 3
            h5.subtitle.is-5.step-subtitle 按一下要傳的科目（網頁設計太爛，所以你會以為這沒辦法按）#[br]
              | 然後選檔案後上傳。
          .column
            img(src='/assets/epf/epfCourseUpload_modal_S3.gif' alt='然後上傳')
        .columns
          .column
            h3.title.is-3.step-title Step 4
            h5.subtitle.is-5.step-subtitle 上傳好了唷～去看看#[a(href='request.html') 怎麼讓老師審核你的學習成果]？
    section.section
      .container
        +videoTitle
        .columns
          .column
            iframe(
              width="560" height="315" src="https://www.youtube.com/embed/TCSjIinsxCE" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            )
          .column
            iframe(
              width="560" height="315" src="https://www.youtube.com/embed/JqYjB2jBTrc" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            )