@import 'variables.scss';
@import url(//fonts.googleapis.com/earlyaccess/notosansthaana.css);

/* Web Font*/
* {
  font-family: 'Noto Sans TC', sans-serif;
}

/* 反白顏色 */
::selection {
  text-shadow: 2px 2px 8px #FFF;
  background-color:$highliht-underline-color;
  color:#000;
}

/* TopBar 元件區 */
::-webkit-scrollbar-thumb, ::selection {
  background: $main-color; 
  color: #000;
}
.t-bar .t-content {
  max-width: 1344px;
}
.t-bar .t-content a:hover {
  color: $main-color;
}

/* General: 隱藏 */
.hide {
  display: none;
}

/* General: Section Title */
.title.section-title {
  /* 這樣會變成「|  title」 */
  border-left: 15px solid $section-color;
  padding-left: 15px;
  transform: rotate(-2deg);
  z-index: -1;
  /* 防止覆蓋到主元素 */
}

/* General: Section Subtitle */
.subtitle.section-subtitle {
  /* 這樣會變成「   title」 */
  padding-left: 30px;
  transform: rotate(-2deg);
  z-index: -1;
  /* 防止覆蓋到主元素 */
}

/* General: Step Title */
.title.step-title {
  /* 這樣會變成「|  title」 */
  border-left: 10px solid $step-color;
  padding-left: 20px;
  padding-bottom: 2px;
}

/* General: Step Subtitle */
.subtitle.step-subtitle {
  /* 這樣會變成「  title」 */
  padding-left: 30px;
  line-height: 1.5;
}

/* General: Background Color */
html {
  background-color: $background-color;
}

/* General: 置中文字 */
.is-center {
  text-align: center;
}

/* General: Highlight Text */
.highlight {
  border-bottom: 3px solid $highliht-underline-color;
  background-color: $highlight-bg-color;
  padding: 0 3px;
  font-weight: bold;
}

/*
  header.pug: Header Bar
  Reference from https://2020election.pts.org.tw/open
*/
.navbar {
  border-radius: 0 0 20px 20px;
  // top: ;
  box-shadow: $navbar-box-shadow;
}

@media screen and (max-width: 1023px) {
  .navbar-page-title {
    display: none;
  }
}

.navbar-burger:not(.is-active) {
  border-radius: 0 0 20px 0;
}

/* header.pug: Logo */
.logo {
  padding-right: 3px;
}

/* top.pug: TOP 按鈕 */
.back-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}

/* embedyt.pug: 讓 iframe 子容器寬度
   等於父容器的。 */
.column>iframe {
  width: 100%;
}

/* countdown.pug: 倒數計時器 */
.countdown {
  max-width: 20rem;
  font-size: 40px;
  font-family: 'Montserrat', monospace;
  margin: 0 auto;
  color: $countdown-text-color;
}

.countdown sub {
  font-size: 40%;
}

/* epf/request.pug: 「通過」文字的顏色 */
.request-approved {
  color: green;
}

/* epf/request.pug: 「不通過」文字的顏色 */
.request-disapproved {
  color: red;
}

/* doc/scan.pug: 橘色警示 */
.alert-orange {
  margin-top: 7px;
}

/* epf/about.pug: 關於的左側列 */
.about-left {
  text-align: right;
}

/* epf/about.pug: 關於頁面的大頭貼 */
.avatar {
  border-radius: 256px;
}

/* announcements.pug: 置頂標籤 */
.pin-tag {
  margin-right: 0.6rem;
}

/* index.pug: 調查通知 */
.event-box {
  border-radius: 20px;
  background: url('https://img.imych.one/epf/assets/cover/events.png') no-repeat center scroll rgba(255, 255, 179, 0.8);
}